node_modules/
public/
examples/
src/
test/
vue.config.js
babel.config.js
*.map
*.html
.browserslistrc
.editorconfig
.eslintignore
.eslintrc.js
postcss.config.js
yarn.lock
jsconfig.json

*.diff
*.patch
.svn/
.git/


npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
