@import "./color/colors.less";

@theme: default;
@html: html;
@prefix: "rapid";

@font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
@text-color: fade(@black, 85%);
@text-color-secondary: fade(@black, 45%);
@font-size-base: 14px;
@line-height-base: 1.5715;
@border-radius-base: 2px;

// Color
@primary-color: @blue-6;
@primary-1: color(~`colorPalette('@{primary-color}', 1) `);

// Radio
@radio-size: 16px;

// Border
@border-color-split: hsv(0, 0, 94%);
@border-width-base: 1px;
@border-style-base: solid;

// Screen
@screen-xs: 480px;
@screen-xs-min: @screen-xs;
@screen-xs-max: (@screen-sm-min - 1px);

@screen-sm: 576px;
@screen-sm-min: @screen-sm;
@screen-sm-max: (@screen-md-min - 1px);

@screen-md: 768px;
@screen-md-min: @screen-md;
@screen-md-max: (@screen-lg-min - 1px);

@screen-lg: 992px;
@screen-lg-min: @screen-lg;
@screen-lg-max: (@screen-xl-min - 1px);

@screen-xl: 1200px;
@screen-xl-min: @screen-xl;
@screen-xl-max: (@screen-xl-min - 1px);

@screen-xxl: 1400px;
@screen-xxl-min: @screen-xxl;
@screen-xxl-max: (@screen-xxl-min - 1px);

@screen-xxxl: 1600px;
@screen-xxxl-min: @screen-xxxl;
@screen-xxxl-max: (@screen-xxxl-min - 1px);

