@import "./color/colors.less";

@theme: default;
@html: html;
@prefix: "";

@font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

@font-size-base: 14px;

// Radio
@radio-size: 16px;

// Layout
@layout-header-background: #fff;
@layout-body-background: #fff;
@layout-header-height: 64px;
@layout-header-padding: 0px;
@layout-footer-padding: 24px 50px;
@layout-footer-background: @layout-body-background;
