@import "colorPalette";

// Color
@black: #000;
@blue-base: #1890ff;
@blue-1: color(~`colorPalette("@{blue-6}", 1) `);
@blue-2: color(~`colorPalette("@{blue-6}", 2) `);
@blue-3: color(~`colorPalette("@{blue-6}", 3) `);
@blue-4: color(~`colorPalette("@{blue-6}", 4) `);
@blue-5: color(~`colorPalette("@{blue-6}", 5) `);
@blue-6: @blue-base;
@blue-7: color(~`colorPalette("@{blue-6}", 7) `);
@blue-8: color(~`colorPalette("@{blue-6}", 8) `);
@blue-9: color(~`colorPalette("@{blue-6}", 9) `);
@blue-10: color(~`colorPalette("@{blue-6}", 10) `);
@purple-base: #722ed1;
@cyan-base: #13c2c2;
@green-base: #52c41a;
@magenta-base: #eb2f96;
@pink-base: #eb2f96;
@red-base: #f5222d;
@orange-base: #fa8c16;
@yellow-base: #fadb14;
@volcano-base: #fa541c;
@geekblue-base: #2f54eb;
@lime-base: #a0d911;
@gold-base: #faad14;
@preset-colors: pink, magenta, red, volcano, orange, yellow, gold, cyan, lime,
  green, blue, geekblue, purple;
@info-color: #2db7f5;
@success-color: #19be6b;
@warning-color: #ff9900;
@error-color: #ed4014;
@normal-color: #e6ebf1;
@btn-primary-color: #fff;
